    </div><!-- /.container -->

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; YelpCamp 2017 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
        </div>
    </footer>

    <!-- Bootstrap and its dependencies -->

    <script src="/scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    
    <!-- Custom JS for search feature -->
    <!-- <script src="/scripts/search.js" async defer></script> -->
</body>
</html>